/*
RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Mukta', sans-serif;
}
/*
  Inizializzo grandezza e colori della prima schermata in pagina
*/
.header-page {
    height: 6.25rem;
    background-color: #009688;
}
.main-page {
    height: calc(100vh - 6.25rem);
    background-color: #dbdbd2;
    position: relative;
}
/*
 Inizializzo la pagina della chat
*/
.container {
    width: 62.5rem;
    height: calc(100vh - 6.25rem);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -13%;
}
/*
 Inizializzo la chat dell'header e del main
*/
.header-chat {
    height: 3.125rem;
    background-color: #eaeaea;
}
.row {
    display: flex;
}
.col-4 {
    width: 40%;
}
.col-6 {
    width: 60%;
}
.header-1 {
    height: 3.125rem;
    border-right: 1px solid gray;
}
.header-2 {
    height: 3.125rem;
}
.main-1 {
    background-color: white;
    height: calc(100vh - 9.6rem);
}
.main-2 {
    background-image: url(/img/mine.jpg);
    height: calc(100vh - 9.6rem);
}